#map_canvas {
  height: 300px;
}


.modal-body {
  padding: none;
}


.mat-dialog-container{
  background: #27292f;;
}

.mat-dialog-container {
  padding: none;
}

.panel-class {
  background: rgb(32 34 40);
}
