
$dafault:#585d6e;
$default-contrast: #ffffff;
// $default-contrast: #D5D5D5;
$default-shade: #2f323b;
$default-tint: #494b54;

// #3d404c
// $dark: #3d404c;
$warning: #f6a821;
$danger: #cca2a0;
$white: #ffffff;
// $white: #D5D5D5;
$brand-primary: red;
$info: #56C0E0;
$success: #1bbf89;
$primary: #0275d8;

$border-warning: #f8bb52;


$gcm: #B9C538;
$gcm-contrast: #414513;
$gcm-shade: #A1AB30;
$gcm-tint: #C5D13B;


