.text-saludo {
  text-transform: initial;
}

.container-fluid {
  padding: 0;
}

.luna-nav.nav {
  font-size: 0.91rem;
  flex-direction: column;
}

.nav-second-width {
  width: 100%;
}

.navbar-brand {
  display: block;
}
